<p>{{data.name}}</p>

<table>
    {{#each data}}
    <tr>
        <td>{{@key}}</td>
        <td>{{this}}</td>
    </tr>
    {{/each}}

</table>

{{!-- <ul>
    {{#each data}}
    <li>{{@key}}:{{this}}</li>
    {{/each}}
</ul> --}}